﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ErrorPage.aspx.cs" Inherits="WebApplication1.ErrorPage" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>Oops! Something went wrong</h1>
        <p class="lead">Please try again or contact Art's Music for assistance</p>
        
    </div>

    
    
   

</asp:Content>
